<h1>Stupid Coaching</h1>

<p><strong><%= @ask %></strong></p>
<p><em> - You</em></p>

<br>

<p><strong><%= @answer %></strong></p>
<p><em> - Your coach </em></p>

<p id="return"><em><%= link_to "Return to the question", ask_path %></em></p>
