// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #e6beae;
  width: 400px;
  border: 2px dotted;
  text-align: center;
  margin: auto;
}

h1 {
  color: #555358;
}

p {
  color: #b2967d;
}

form {
  color: #f7f1ef;
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}

#return {
  padding-top: 20px;
  text-align: right;
}
